<section class="section background">
  <div class="section__title">About Me</div>
  <div class="section__content">
    <p>
      I'm currently an Computer Engineering Student at
      <a class="underline-link" href="https://www.mcmaster.ca/" target="_blank">Mcmaster University</a>
      looking for new co-op oppotunities in summer 2022.
    </p>

    <p>
      As a engineering student and software developer, I enjoy creating things that solve the real life problems.
    </p>


    <!-- {% include employment-status.html %} -->
  </div>
</section>
