<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Compiler Developer Intern working at 
      <a class="underline-link" href="https://www.ibm.com/products/automatic-binary-optimizer-zos" target="_blank">IBM ABO Compiler</a> 
      in IBM Markham Software Lab. Focusing on testing, improving compiler reliability and optimization.
    </p>

    <p>
      I'm also a current Bachelor Computer Engineering Student at
      <a class="underline-link" href="https://www.mcmaster.ca/" target="_blank">Mcmaster University</a>.
    </p>

    <p>
      As an engineering student and software developer, I enjoy creating things that solve the real life problems.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
