<section id='form' class="section form">
    <div class="section__title">Say Hello!</div>
    <div class="section__content">
        <form id="my-form" action="{{site.formspree}}" method="POST">
            <label>Your Email:</label>
            <input type="email" name="email" />
            <label>Your Message:</label>
            <textarea name="message"></textarea>
            <button id="my-form-button" >Submit</button>
            <p id="my-form-status"></p>
        </form>
      </div>
</section>