@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

/*global setting*/
html{
  background-color:#faf8f8;
  color:#2f2f35;
  padding: 0;
  margin:0;
}
#site{
  margin:0 10vw 5vh 10vw;
}
*{
  font-family: 'Rubik', sans-serif;
  font-weight:300
}
a{
  font-weight:500;
  text-decoration:none;
  color:#2f2f35;
}
section{
  margin-top:30px;
  margin-bottom:30px;
}
ul{
  list-style-type:none;
  padding:0;
  margin:0;
}
.section__title{
  font-size:20px;
  width:20%;
  font-weight:400;
  display: inline-block;
  vertical-align: top;
  color:#1772b4;
}
.section__content{
  display: inline-block;
  width:75%;
  padding: 0 0 0 0;
}

/*navbar setting*/
nav{
  background-color:#1772b4;
  display: block;
  position:fixed;
  top: 0;
  left:0;
  right:0;
  padding:2vh 0 0 0;
  margin:0;
  width: 100%;
  height: 5vh;
  color:#faf8f8;
}
.switch-wrapper{
  display:inline-block;
  padding-left: 6vw;
}
#menu{
  vertical-align: middle;
  display:inline-block;
  right :0;
  float:right;
}
#menu>ul>li{
  display:inline-block;
  padding-right: 3vw;
}
#menu>ul>li>a{
  color:#faf8f8;
}


/*intro setting*/
header{
  height: 90vh;
  font-size:5vh;
  padding: 13vh 1vw 0 5vw;
  margin:0;
}
h1{
  font-size:4vh;
}
h2{
  padding:0;
  margin:0;
}
h2>span{
  font-weight:400;
  font-size:8vh;
}
h5{
  font-size:4vh;
}


/*intro contact setting*/
#link__contact{
  font-weight:400;
  font-size:6vh;
}
.contact__links>a>span{
  display:none;
}
.contact__links>a>img{
  width:5vh;
  padding-right: 2vw;
}


/*about setting*/
p{
  margin:0;
  padding: 0 0 10px 0 ;
}

/*skills setting*/
.skillz__category{
  display: inline-block;
  vertical-align: top;
  padding: 0 5% 0 0 ;
}
.skillz__category__label{
  font-weight:400;
}

/*experience setting*/
.job{
  margin:0;
  padding: 0 0 10px 0 ;
}
/*project setting*/

/*float contact setting*/
.contact__float{
  text-align: center;
}
.contact__float>a>img{
  width:3vh;
}

/*footer setting*/
footer{
  text-align:center;
}

/*float setting*/
#top-button{
  position: fixed;
  bottom: 5vh;
  right: 5vw;
}







